<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title></title>
        <style type="text/css">
            .navbar-fixed-top{
                display: none;
            }
        </style>
</head>
<body>
<xmp theme="readable" style="display:none;">


  &#62; |  插入䘝小小的列表 |就是   |
  | :------------: | :------------: |
  |   好的呢| 你以为i  |
  |   噶什么|不是的骚   |
  
  *在写文章*
  
  
  ------------
  
  插入一点代码：
      
      ul{
        list-style: disc;
      }
      
      ol{
        list-style: decimal;
      }
      
      .middle{
        width: 71%;
        /*! height: 100vh; */
        margin: 0 auto;
        box-sizing: border-box;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
      }
      
      .middle .show_content{
        width: 75%;
        background-color: white;
        padding: 29px;
        margin-right: 1%;
        min-height: inherit;
        border-radius: 15px;
        border: 1px solid #8080804f;
        box-sizing: border-box;
      }
      
      .middle .show_content .title{
        
        border-bottom: 1px solid #8080804f;
        padding-bottom: 20px;
      }
      
      .middle .show_content .content{
        margin-top: 20px;
      }
      
      .middle .show_bar{
        width: 22%;
        min-height: inherit;
        border-radius: 15px;
      }
      
      .middle .show_bar .author{
      
      }
      .middle .show_author_info{
        padding: 20px;
        width: 100%;
        height: 200px;
        background: white;
        border: 1px solid #8080804f;
        border-radius: 31px;
        position: relative;
        z-index: -6;
      }
      
      .middle .show_author_info .up{
        height: 50%;
        width: 100%;
        border-bottom: 1px dotted #8080806b;
      }
      
      .middle .show_author_info .up .avatar{
        width: 90px;
        height: 90px;
        border-radius: 100%;
        background: url(/public/images/hello.jpg) no-repeat center/cover;
        position: relative;
        margin: auto;
      }
      
      .middle .show_author_info .up .avatar::after{
        border-radius: inherit;
        background: inherit;
        position: absolute;
        content : &#34;&#34;;
        top: 10%;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(10px) brightness(80%);
        z-index: -3;
        transform: scale(0.9);
      }
      
      
      .middle .show_author_info .down{
        width: 100%;
        height: 50%;
      }
      
      .middle .show_author_info .down .show_detail{
      
        width: 62%;
        margin: 0 auto;
      }
      
      .middle .show_author_info .down .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 13%;
      }
      
      .middle .show_author_info .down .tip{
        font-weight: 600;
      }
      
      .middle .show_content .content p,
      .middle .show_content .content li
      {
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 10px 10px;
        line-height: 1.75;
        letter-spacing: 0.2em;
        font-size: 15px;
        word-spacing: 0.1em;
      }
      
      .middle .show_content .content h2{
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 0px;
        font-weight: bold;
        font-size: 22px;
        text-align: left;
        margin: 20px 10px 0px 0px;
      }
      
      .middle .show_content .content h3{
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 0px;
        font-weight: bold;
        font-size: 18px;
      }
      
      .middle .show_content .content img{
        max-width: 100%;
        border-radius: 0px 0px 5px 5px;
        display: block;
        margin: 20px auto;
        width: 85%;
        height: 100%;
        object-fit: contain;
        box-shadow: #84A1A8 0px 10px 15px;
      }
      
      .middle .show_content .content ul{
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 25px;
        list-style-type: disc;
      }
      
      .middle .show_content .content ol{
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 25px;
        list-style-type: decimal;
      }
      
      .middle .show_content .content li{
        margin-bottom: 0;
        list-style: inherit;
      }
      
      
      
      
      
          

</xmp>
</body>
<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>