.mymenu-display{
  list-style: none;
  color: grey;
  position: relative;
  background: white;
  border: 1px solid #8080804f;
  border-radius: 10px;
}

.mymenu-display li{

  padding: 10px 20px;
}

.mymenu-display .active{
  color: black;
  font-weight: 600;
}

.mymenu-display a{
  position: static;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.mymenu-toFixed{
  position: fixed;
  right: 90px;
}